@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

/* Vendor styles */
@import "aos/dist/aos.css";
@import "./starwind.css";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "@fancyapps/ui/dist/carousel/carousel.css";
@import "@fancyapps/ui/dist/carousel/carousel.thumbs.css";

#myCarousel {
  max-width: 640px;
}

#myCarousel .f-carousel__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCarousel .f-carousel__slide img {
  width: 100%;
  height: auto;
}

/* Design System Tokens */
@import "./design-system.css";

@theme {
  /* fonts */
  --font-heading: "Josefin Sans Variable", sans-serif;
  --font-body: "Lato", sans-serif;
  /* --font-heading: "IBM Plex Sans Variable", sans-serif;
  --font-body: "IBM Plex Sans Variable", sans-serif; */

  /* screen sizes */
  --screen-xs: 375px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  --breakpoint-2xl: 72rem;

  /* colors */
  --color-primary-50: #fef1f7;
  --color-primary-100: #fee5f1;
  --color-primary-200: #ffcbe6;
  --color-primary-300: #ffa0cf;
  --color-primary-400: #ff66ad;
  --color-primary-500: #fb2e86;
  --color-primary-600: #ec1667;
  --color-primary-700: #cd094d;
  --color-primary-800: #a90b41;
  --color-primary-900: #8d0e39;
  --color-primary-950: #57001d;

  --color-secondary-50: #fbf8fc;
  --color-secondary-100: #f5eef9;
  --color-secondary-200: #eee1f3;
  --color-secondary-300: #e0c9e9;
  --color-secondary-400: #cba5db;
  --color-secondary-500: #b682ca;
  --color-secondary-600: #a266b7;
  --color-secondary-700: #8b529e;
  --color-secondary-800: #744783;
  --color-secondary-900: #5e3a69;
  --color-secondary-950: #41214a;

  /* --color-tertiary-50: #eef3ff;
  --color-tertiary-100: #e0e9ff;
  --color-tertiary-200: #c6d5ff;
  --color-tertiary-300: #a4b8fd;
  --color-tertiary-400: #7f92fa;
  --color-tertiary-500: #5f6bf3;
  --color-tertiary-600: #4445e7;
  --color-tertiary-700: #3836cc;
  --color-tertiary-800: #2e2ea5;
  --color-tertiary-900: #2d2f82;
  --color-tertiary-950: #1a1a4c; */

  --color-tertiary-50: #f3f6ff;
  --color-tertiary-100: #e9edfe;
  --color-tertiary-200: #d7dffd;
  --color-tertiary-300: #b7c3fb;
  --color-tertiary-400: #8d9bf8;
  --color-tertiary-500: #5f6bf3;
  --color-tertiary-600: #3e41e9;
  --color-tertiary-700: #2d2cd5;
  --color-tertiary-800: #2524b3;
  --color-tertiary-900: #212092;
  --color-tertiary-950: #151875;

  --color-accent-50: #ecf0ff;
  --color-accent-100: #dde3ff;
  --color-accent-200: #c2cbff;
  --color-accent-300: #9da9ff;
  --color-accent-400: #767aff;
  --color-accent-500: #5b54fe;
  --color-accent-600: #4e37f4;
  --color-accent-700: #432bd7;
  --color-accent-800: #3725ae;
  --color-accent-900: #302689;
  --color-accent-950: #1d174f;

  /* regentgray colors */
  --color-emphasis-50: #f4f5f9;
  --color-emphasis-100: #ebeef4;
  --color-emphasis-200: #dadfeb;
  --color-emphasis-300: #c3cade;
  --color-emphasis-400: #abb1ce;
  --color-emphasis-500: #8a8fb9;
  --color-emphasis-600: #7e80ad;
  --color-emphasis-700: #6b6c97;
  --color-emphasis-800: #58597b;
  --color-emphasis-900: #4b4c64;
  --color-emphasis-950: #2c2c3a;

  --color-brand-50: #f6f3ff;
  --color-brand-100: #eee8ff;
  --color-brand-200: #ded5ff;
  --color-brand-300: #c6b3ff;
  --color-brand-400: #ab88fd;
  --color-brand-500: #9058fa;
  --color-brand-600: #8335f2;
  --color-brand-700: #7e33e0;
  --color-brand-800: #611dba;
  --color-brand-900: #511a98;
  --color-brand-950: #310e67;

  --color-ghost-50: #eaf2ff;
  --color-ghost-100: #d9e6ff;
  --color-ghost-200: #bbd1ff;
  --color-ghost-300: #92b1ff;
  --color-ghost-400: #6783ff;
  --color-ghost-500: #4457ff;
  --color-ghost-600: #2328ff;
  --color-ghost-700: #1819ea;
  --color-ghost-800: #171abc;
  --color-ghost-900: #1c2293;
  --color-ghost-950: #0d0e43;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-tertiary-900 dark:text-tertiary-50;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl leading-tight;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl leading-snug;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl leading-snug;
  }

  h4 {
    @apply text-xl md:text-2xl lg:text-3xl leading-snug;
  }

  h5 {
    @apply text-lg md:text-xl lg:text-2xl leading-snug;
  }

  h6 {
    @apply text-base md:text-lg lg:text-xl leading-snug;
  }

  /* Body text variations */
  .body-lg {
    @apply font-body text-lg md:text-xl leading-relaxed text-emphasis-900 dark:text-emphasis-50;
  }
  .body-base {
    @apply font-body text-base md:text-lg leading-relaxed text-emphasis-900 dark:text-emphasis-50;
  }
  .body-sm {
    @apply font-body text-sm md:text-base leading-relaxed text-emphasis-900 dark:text-emphasis-50;
  }
  .body-xs {
    @apply font-body text-xs md:text-sm leading-relaxed text-emphasis-900 dark:text-emphasis-50;
  }
}

@layer components {
  /* Scroll animations */
  /* To disable scroll animations remove the class "sroll-animation" from root html in the layout file */
  .scroll-animation [data-scroll-animate] {
    @apply translate-y-4 transform opacity-0 transition-all duration-1000 [&.scroll-animated]:translate-y-0 [&.scroll-animated]:opacity-100 [&:nth-child(1)]:delay-[50ms] [&:nth-child(10)]:delay-[725ms] [&:nth-child(11)]:delay-[800ms] [&:nth-child(12)]:delay-[875ms] [&:nth-child(2)]:delay-[125ms] [&:nth-child(3)]:delay-[200ms] [&:nth-child(4)]:delay-[275ms] [&:nth-child(5)]:delay-[350ms] [&:nth-child(6)]:delay-[425ms] [&:nth-child(7)]:delay-[500ms] [&:nth-child(8)]:delay-[575ms] [&:nth-child(9)]:delay-[650ms];
  }
}

@utility prose-custom {
  --tw-prose-body: var(--color-emphasis-700);
  --tw-prose-headings: var(--color-emphasis-800);
  --tw-prose-lead: var(--color-emphasis-600);
  --tw-prose-links: var(--color-primary-500);
  --tw-prose-bold: var(--color-emphasis-800);
  --tw-prose-counters: var(--color-emphasis-400);
  --tw-prose-bullets: var(--color-emphasis-400);
  --tw-prose-hr: color-mix(in srgb, var(--color-emphasis-300) 50%, transparent);
  --tw-prose-quotes: var(--color-emphasis-700);
  --tw-prose-quote-borders: var(--color-emphasis-400);
  --tw-prose-captions: color-mix(
    in srgb,
    var(--color-emphasis-600) 80%,
    transparent
  );
  --tw-prose-code: var(--color-emphasis-800);
  --tw-prose-pre-code: var(--color-emphasis-100);
  --tw-prose-pre-bg: color-mix(
    in srgb,
    var(--color-emphasis-950) 10%,
    transparent
  );
  --tw-prose-th-borders: var(--color-emphasis-300);
  --tw-prose-td-borders: color-mix(
    in srgb,
    var(--color-emphasis-200) 50%,
    transparent
  );
  /* Dark mode support */
  /* --tw-prose-invert-body: var(--color-tertiary-100);
  --tw-prose-invert-headings: var(--color-tertiary-50);
  --tw-prose-invert-lead: var(--color-tertiary-200);
  --tw-prose-invert-links: var(--color-tertiary-400);
  --tw-prose-invert-bold: var(--color-tertiary-50);
  --tw-prose-invert-counters: var(--color-tertiary-300);
  --tw-prose-invert-bullets: var(--color-tertiary-300);
  --tw-prose-invert-hr: color-mix(
    in srgb,
    var(--color-tertiary-400) 40%,
    transparent
  );
  --tw-prose-invert-quotes: var(--color-tertiary-100);
  --tw-prose-invert-quote-borders: var(--color-tertiary-300);
  --tw-prose-invert-captions: color-mix(
    in srgb,
    var(--color-tertiary-200) 80%,
    transparent
  );
  --tw-prose-invert-code: var(--color-tertiary-50);
  --tw-prose-invert-pre-code: var(--color-tertiary-50);
  --tw-prose-invert-pre-bg: color-mix(
    in srgb,
    var(--color-tertiary-900) 20%,
    transparent
  );
  --tw-prose-invert-th-borders: var(--color-tertiary-300);
  --tw-prose-invert-td-borders: color-mix(
    in srgb,
    var(--color-tertiary-400) 50%,
    transparent
  ); */
}
