---
import type { CollectionEntry } from "astro:content";
import BlogCard from "@/components/blocks/BlogCard.astro";
import { slugify } from "@/utils/helper";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

{
  posts.length === 0 ? (
    <p>No posts found.</p>
  ) : (
    posts.map((post) => (
      <BlogCard post={post.data} url={slugify(post.data.title)} />
    ))
  )
}
