---
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/starwind/breadcrumb";

interface HeaderInfo {
  title: string;
  caption: string;
  description: string;
}

const { headerInfo: HeaderInfo } = Astro.props;
const { title, caption, description } = HeaderInfo || {
  title: "Page Title",
  caption: "Page Caption",
  description: "Page Description",
};
---

<header class="bg-brand-50 h-64 flex flex-col justify-center">
  <div class="w-full xl:container px-6 mx-auto">
    <p class="text-4xl font-heading font-semibold mb-2">{title}</p>

    <Breadcrumb>
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/">Home</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator>/</BreadcrumbSeparator>
        <BreadcrumbItem>
          <BreadcrumbLink href="/components">Page</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator>/</BreadcrumbSeparator>
        <BreadcrumbItem class="text-primary-500">
          <BreadcrumbPage>{caption || title}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
  </div>
</header>
