---
//components imports
import BaseLayout from "@/layouts/BaseLayout.astro";

//icons imports
import { Icon } from "astro-icon/components";
import { ArrowLeftIcon } from "@lucide/astro";

//components imports
import { Button } from "@/starwind/button";
---

<BaseLayout>
  <section
    class="h-full flex flex-col items-center justify-center text-center py-20 md:py-32"
  >
    <Icon name="404" class="size-24 mb-10" />
    <h1 class="text-4xl md:text-6xl mb-4 font-heading">404 - Page Not Found</h1>
    <p class="mb-10 text-base md:text-lg text-gray-600">
      Sorry, the page you are looking for does not exist.
    </p>

    <Button variant="outline" href="/" class="mt-6 rounded-full">
      <ArrowLeftIcon class="w-4 h-4 inline-block mr-2" />
      Back to Home
    </Button>
  </section>
</BaseLayout>
