---
export const prerender = false; // Not needed in 'server' mode

import BaseLayout from "@/layouts/BaseLayout.astro";

//components import
import PageHeader from "@/components/blocks/PageHeader.astro";
import Partners from "@/components/blocks/Partners.astro";

//blocks import
import ContactForm from "@/components/blocks/contact/ContactForm.astro";

const faqs = [
  {
    question: "How can I get in touch with your support team?",
    answer:
      "You can reach our support team by filling out the contact form on this page or by emailing support@hekto.com. We aim to respond within 24 hours.",
  },
  {
    question: "What are your customer service hours?",
    answer:
      "Our customer service team is available Monday to Friday, 9:00 AM to 6:00 PM (GMT). We are closed on weekends and public holidays.",
  },
  {
    question: "Where is your company located?",
    answer:
      "Our headquarters are located at 123 Market Street, San Francisco, CA 94103, USA. We also have offices in London and Berlin.",
  },
  {
    question: "Can I track my order after purchase?",
    answer:
      "Yes, once your order is shipped, you will receive a tracking number via email. You can use this number to track your order status on our website.",
  },
];

// page header details
const pageHeader = {
  title: "Contact Us",
  caption: "",
  description: "",
};
---

<BaseLayout>
  <PageHeader headerInfo={pageHeader} slot="pageHeader" />

  <div class="container--default">
    <div
      class="grid grid-cols-4 gap-4 md:grid-cols-8 md:gap-16 lg:grid-cols-12"
    >
      {/* General Information Section */}
      <div
        class="space-y-8 col-span-4 md:col-span-8 lg:col-span-6"
        data-scroll-animate
      >
        <h3 class="mb-8" data-scroll-animate>General Information</h3>

        <div class="space-y-12" data-scroll-animate>
          {
            faqs.map((faq) => (
              <div>
                <h6 class="text-lg font-semibold mb-3">{faq.question}</h6>
                <p class="leading-relaxed">{faq.answer}</p>
              </div>
            ))
          }
        </div>
      </div>

      <ContactForm />
    </div>
  </div>
  {/* Company Logos Section */}
  <Partners />
</BaseLayout>
