---

---

<section data-scroll-animate>
  <p class="text-primary-500 mb-4">Best Furniture For Your Castle....</p>
  <h1
    class="text-6xl leading-tight text-black font-heading font-bold max-w-3xl"
  >
    New Furniture Collection Trends in 2020
  </h1>
  <p class="text-base/normal text-max-w-3xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aut
    consequatur quisquam quae fugiat tempore necessitatibus, officiis impedit
    aliquam laborum consequuntur, perspiciatis sed ea, praesentium veniam fuga
    nam commodi atque?
  </p>
</section>
