---

---

<!-- START - newsletter -->
<section class="relative bg-emphasis-50 bg-news-lettern bg-cover">
  <div class="container px-6 mx-auto">
    <div
      class="mx-auto flex flex-col items-center justify-center gap-6 py-14 lg:py-24 md:max-w-lg"
      data-scroll-animate
    >
      <h3
        class="text-center text-tertiary-950 text-2xl font-bold md:text-3xl md:leading-relaxed"
        data-scroll-animate
      >
        Get Latest Update By Subscribe 0ur Newsletter
      </h3>
      <!-- Component: Large primary basic button -->
      <button
        class="inline-flex items-center justify-center h-12 gap-2 px-8 font-lato font-semibold tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-primary-500 hover:bg-primary-600 focus:bg-primary-700 disabled:cursor-not-allowed disabled:border-primary-300 disabled:bg-primary-300 disabled:shadow-none"
        data-scroll-animate
      >
        <span>Shop Now</span>
      </button>
      <!-- End Large primary basic button -->
    </div>
  </div>
</section>
<!-- END -newsletter -->
