---
import Button from "@/starwind/button";
import SectionHeader from "@/components/atoms/SectionHeader.astro";
---

<!-- START - newsletter -->
<section class="relative bg-emphasis-50 bg-news-lettern bg-cover">
  <div class="container px-6 mx-auto">
    <div
      class="mx-auto flex flex-col items-center justify-center gap-6 py-14 lg:py-24 md:max-w-lg"
      data-scroll-animate
    >
      <SectionHeader class="mb-6">
        Get Latest Update By Subscribe 0ur Newsletter
      </SectionHeader>
      <!-- Component: Large primary basic button -->
      <Button class="btn--primary" data-scroll-animate>
        <span>Shop Now</span>
      </Button>
      <!-- End Large primary basic button -->
    </div>
  </div>
</section>
<!-- END -newsletter -->
