---
import { getCollection } from "astro:content";

//utilities import
import { slugify } from "@/utils/helper";

//components import
import SectionHeader from "@/components/atoms/SectionHeader.astro";
import Button from "@/starwind/button";

// Fetch all posts from the "posts" collection
const posts = await getCollection("posts");

const categorySet = new Set();
posts.forEach((post) => {
  (post.data.categories || []).forEach((category) => {
    categorySet.add(category);
  });
});

const categories = Array.from(categorySet).sort((a, b) => a.localeCompare(b));
---

<!-- START - Top Categories -->
<section class="my-10 lg:my-24">
  <div class="container px-6 mx-auto">
    <SectionHeader>Top Categories</SectionHeader>
    <!-- Component: carousel -->
    <div class="relative overflow-hidden w-full" id="glide-categories">
      <!-- Slides -->
      <div data-glide-el="track">
        <ul
          class="whitespace-no-wrap flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform] relative flex w-full overflow-hidden p-0"
        >
          {
            categories.map((category) => (
              <li>
                <a
                  href={`/blog/category/${slugify(category)}`}
                  class="overflow-hidden group"
                >
                  <figure class="rounded-lg lg:rounded-full overflow-hidden aspect-square bg-slate-100 group-hover:bg-slate-200 relative flex items-center justify-center">
                    {/* <img
                      src={`./src/images/furniture/top-categories/${(idx % 3) + 1}.png`}
                      alt={`${category} image`}
                      class="w-44 transition-transform duration-300 group-hover:scale-110"
                    /> */}
                    {/* <Button class="btn--secondary absolute bottom-0 opacity-0 transition-all duration-300 rounded group-hover:opacity-100 group-hover:bottom-8 whitespace-nowrap ">
                      <span>View Shop</span>
                    </Button> */}
                  </figure>
                  <div class="px-6 pt-5 pb-9">
                    <header class="text-center">
                      <h3 class="text-xl font-semibold">{category}</h3>
                    </header>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- Indicators -->
      <div
        class="flex items-center justify-center w-full -mt-6"
        data-glide-el="controls[nav]"
      >
        {
          categories.map((_, idx) => (
            <button
              class="p-2 group"
              data-glide-dir={`=${idx}`}
              aria-label={`goto slide ${idx + 1}`}
            >
              <span class="block w-2 h-2 transition-colors duration-300 rounded-full opacity-70 ring-1 ring-primary-500 bg-white/20 focus:outline-none" />
            </button>
          ))
        }
      </div>
    </div>
    <!-- End carousel -->
  </div>
</section>
<!-- END - Top Categories -->

<script>
  import Glide from "@glidejs/glide";

  function initSlider() {
    const glideElement = document.querySelector("#glide-categories");
    if (glideElement) {
      const glideInstance = new Glide(glideElement, {
        type: "carousel",
        focusAt: "center",
        perView: 5,
        autoplay: 3000,
        hoverpause: true,
        animationDuration: 700,
        gap: 24,
        classNames: {
          nav: {
            active: "[&>*]:bg-primary-700",
          },
        },
        breakpoints: {
          1024: {
            perView: 2,
          },
          640: {
            perView: 1,
          },
        },
      });
      glideInstance.mount();
    }
  }

  //document.addEventListener("astro:page-load", initSlider);
  initSlider();
</script>
