---

---

<!-- START - Top Categories -->
<section class="my-10 lg:my-24">
  <div class="container px-6 mx-auto">
    <h2
      class="text-center text-tertiary-950 text-2xl mb-6 lg:text-4xl lg:mb-14 font-bold"
    >
      Top Categories
    </h2>

    <!-- Component: carousel -->
    <div class="relative overflow-hidden w-full" id="glide-categories">
      <!-- Slides -->
      <div data-glide-el="track">
        <ul
          class="whitespace-no-wrap flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform] relative flex w-full overflow-hidden p-0"
        >
          <li>
            <!-- Component: Blog card with avatar -->
            <a href="#" class="overflow-hidden group">
              <!-- Image -->
              <figure
                class="rounded-lg lg:rounded-full overflow-hidden aspect-square bg-slate-100 group-hover:bg-slate-200 relative flex items-center justify-center"
              >
                <img
                  src="./src/images/furniture/top-categories/1.png"
                  alt="card image"
                  class="w-44 transition-transform duration-300 group-hover:scale-110"
                />
                <!-- Component: Base primary basic button -->
                <button
                  class="absolute bottom-0 opacity-0 inline-flex items-center justify-center h-10 gap-2 px-5 font-lato text-sm font-medium tracking-wide text-white transition-all duration-300 rounded group-hover:opacity-100 group-hover:bottom-8 focus-visible:outline-none whitespace-nowrap bg-emerald-500 hover:bg-emerald-600 focus:bg-emerald-700 disabled:cursor-not-allowed disabled:border-emerald-300 disabled:bg-emerald-300 disabled:shadow-none"
                >
                  <span>View Shop</span>
                </button>
                <!-- End Base primary basic button -->
              </figure>
              <!-- Body-->
              <div class="px-6 pt-5 pb-9">
                <header
                  class="flex flex-col items-center gap-1 mb-4 text-tertiary-950"
                >
                  <h3 class="text-xl font-semibold">Mini LCW Chair</h3>
                  <p class="font-lato leading-7 group-hover:text-primary-500">
                    $56.00
                  </p>
                </header>
              </div>
            </a>
            <!-- End Blog card with avatar -->
          </li>
          <li>
            <!-- Component: Blog card with avatar -->
            <a href="#" class="overflow-hidden group">
              <!-- Image -->
              <figure
                class="rounded-lg lg:rounded-full overflow-hidden aspect-square bg-slate-100 group-hover:bg-slate-200 relative flex items-center justify-center"
              >
                <img
                  src="./src/images/furniture/top-categories/2.png"
                  alt="card image"
                  class="w-44 transition-transform duration-300 group-hover:scale-110"
                />
                <!-- Component: Base primary basic button -->
                <button
                  class="absolute bottom-0 opacity-0 inline-flex items-center justify-center h-10 gap-2 px-5 font-lato text-sm font-medium tracking-wide text-white transition-all duration-300 rounded group-hover:opacity-100 group-hover:bottom-8 focus-visible:outline-none whitespace-nowrap bg-emerald-500 hover:bg-emerald-600 focus:bg-emerald-700 disabled:cursor-not-allowed disabled:border-emerald-300 disabled:bg-emerald-300 disabled:shadow-none"
                >
                  <span>View Shop</span>
                </button>
                <!-- End Base primary basic button -->
              </figure>
              <!-- Body-->
              <div class="px-6 pt-5 pb-9">
                <header
                  class="flex flex-col items-center gap-1 mb-4 text-tertiary-950"
                >
                  <h3 class="text-xl font-semibold">Mini LCW Chair</h3>
                  <p class="font-lato leading-7 group-hover:text-primary-500">
                    $56.00
                  </p>
                </header>
              </div>
            </a>
            <!-- End Blog card with avatar -->
          </li>
          <li>
            <!-- Component: Blog card with avatar -->
            <a href="#" class="overflow-hidden group">
              <!-- Image -->
              <figure
                class="rounded-lg lg:rounded-full overflow-hidden aspect-square bg-slate-100 group-hover:bg-slate-200 relative flex items-center justify-center"
              >
                <img
                  src="./src/images/furniture/top-categories/3.png"
                  alt="card image"
                  class="w-44 transition-transform duration-300 group-hover:scale-110"
                />
                <!-- Component: Base primary basic button -->
                <button
                  class="absolute bottom-0 opacity-0 inline-flex items-center justify-center h-10 gap-2 px-5 font-lato text-sm font-medium tracking-wide text-white transition-all duration-300 rounded group-hover:opacity-100 group-hover:bottom-8 focus-visible:outline-none whitespace-nowrap bg-emerald-500 hover:bg-emerald-600 focus:bg-emerald-700 disabled:cursor-not-allowed disabled:border-emerald-300 disabled:bg-emerald-300 disabled:shadow-none"
                >
                  <span>View Shop</span>
                </button>
                <!-- End Base primary basic button -->
              </figure>
              <!-- Body-->
              <div class="px-6 pt-5 pb-9">
                <header
                  class="flex flex-col items-center gap-1 mb-4 text-tertiary-950"
                >
                  <h3 class="text-xl font-semibold">Mini LCW Chair</h3>
                  <p class="font-lato leading-7 group-hover:text-primary-500">
                    $56.00
                  </p>
                </header>
              </div>
            </a>
            <!-- End Blog card with avatar -->
          </li>
          <li>
            <!-- Component: Blog card with avatar -->
            <a href="#" class="overflow-hidden group">
              <!-- Image -->
              <figure
                class="rounded-lg lg:rounded-full overflow-hidden aspect-square bg-slate-100 group-hover:bg-slate-200 relative flex items-center justify-center"
              >
                <img
                  src="./src/images/furniture/top-categories/1.png"
                  alt="card image"
                  class="w-44 transition-transform duration-300 group-hover:scale-110"
                />
                <!-- Component: Base primary basic button -->
                <button
                  class="absolute bottom-0 opacity-0 inline-flex items-center justify-center h-10 gap-2 px-5 font-lato text-sm font-medium tracking-wide text-white transition-all duration-300 rounded group-hover:opacity-100 group-hover:bottom-8 focus-visible:outline-none whitespace-nowrap bg-emerald-500 hover:bg-emerald-600 focus:bg-emerald-700 disabled:cursor-not-allowed disabled:border-emerald-300 disabled:bg-emerald-300 disabled:shadow-none"
                >
                  <span>View Shop</span>
                </button>
                <!-- End Base primary basic button -->
              </figure>
              <!-- Body-->
              <div class="px-6 pt-5 pb-9">
                <header
                  class="flex flex-col items-center gap-1 mb-4 text-tertiary-950"
                >
                  <h3 class="text-xl font-semibold">Mini LCW Chair</h3>
                  <p class="font-lato leading-7 group-hover:text-primary-500">
                    $56.00
                  </p>
                </header>
              </div>
            </a>
            <!-- End Blog card with avatar -->
          </li>
        </ul>
      </div>
      <!-- Indicators -->
      <div
        class="flex items-center justify-center w-full -mt-6"
        data-glide-el="controls[nav]"
      >
        <button class="p-2 group" data-glide-dir="=0" aria-label="goto slide 1">
          <span
            class="block w-2 h-2 transition-colors duration-300 rounded-full opacity-70 ring-1 ring-primary-500 bg-white/20 focus:outline-none"
          ></span>
        </button>
        <button class="p-2 group" data-glide-dir="=1" aria-label="goto slide 2">
          <span
            class="block w-2 h-2 transition-colors duration-300 rounded-full opacity-70 ring-1 ring-primary-500 bg-white/20 focus:outline-none"
          ></span>
        </button>
        <button class="p-2 group" data-glide-dir="=2" aria-label="goto slide 3">
          <span
            class="block w-2 h-2 transition-colors duration-300 rounded-full opacity-70 ring-1 ring-primary-500 bg-white/20 focus:outline-none"
          ></span>
        </button>
        <button class="p-2 group" data-glide-dir="=3" aria-label="goto slide 4">
          <span
            class="block w-2 h-2 transition-colors duration-300 rounded-full opacity-70 ring-1 ring-primary-500 bg-white/20 focus:outline-none"
          ></span>
        </button>
      </div>
    </div>
    <!-- End carousel -->
  </div>
</section>
<!-- END - Top Categories -->
