<!-- START - trending Products -->
<section class="my-10">
  <div class="xl:container px-6 mx-auto">
    <h2
      class="text-center text-tertiary-950 text-2xl mb-6 lg:text-4xl lg:mb-12 font-bold"
    >
      Trending Products
    </h2>

    <!-- Component: carousel -->
    <div class="relative overflow-hidden w-full" id="glide-trending">
      <!-- Slides -->
      <div data-glide-el="track">
        <ul
          class="whitespace-no-wrap flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform] relative flex w-full overflow-hidden p-0 py-4"
        >
          <li class="px-2">
            <!-- Component: E-commerce card -->
            <article
              class="group overflow-hidden bg-white p-3 rounded-lg shadow-[0px_0px_16px_0px_rgba(0,0,0,0.05)] text-slate-500 transition-colors"
            >
              <!-- Image -->
              <figure
                class="relative overflow-hidden aspect-square w-full bg-tertiary-50 flex items-center justify-center"
              >
                <img
                  src="./src/images/furniture/14.png"
                  alt="card image"
                  class="transition-transform duration-300 scale-90 group-hover:scale-105"
                />
              </figure>
              <!-- Body-->
              <div class="p-6 text-center transition-colors">
                <header class="mb-4">
                  <h3
                    class="text-xl font-bold text-tertiary-950 group-hover:text-primary-500"
                  >
                    Cantilever chair
                  </h3>
                </header>
                <p class="text-blue-950">
                  $21.00
                  <em class="not-italic text-sm text-emphasis-500 underline"
                    >$42.00</em
                  >
                </p>
              </div>
            </article>
            <!-- End E-commerce card -->
          </li>
          <li class="px-2">
            <!-- Component: E-commerce card -->
            <article
              class="group overflow-hidden bg-white p-3 rounded-lg shadow-[0px_0px_16px_0px_rgba(0,0,0,0.05)] text-slate-500 transition-colors"
            >
              <!-- Image -->
              <figure
                class="relative overflow-hidden aspect-square w-full bg-tertiary-50 flex items-center justify-center"
              >
                <img
                  src="./src/images/furniture/10.png"
                  alt="card image"
                  class="transition-transform duration-300 scale-90 group-hover:scale-105"
                />
              </figure>
              <!-- Body-->
              <div class="p-6 text-center transition-colors">
                <header class="mb-4">
                  <h3
                    class="text-xl font-bold text-tertiary-950 group-hover:text-primary-500"
                  >
                    Cantilever chair
                  </h3>
                </header>
                <p class="text-blue-950">
                  $21.00
                  <em class="not-italic text-sm text-emphasis-500 underline"
                    >$42.00</em
                  >
                </p>
              </div>
            </article>
            <!-- End E-commerce card -->
          </li>
          <li class="px-2">
            <!-- Component: E-commerce card -->
            <article
              class="group overflow-hidden bg-white p-3 rounded-lg shadow-[0px_0px_16px_0px_rgba(0,0,0,0.05)] text-slate-500 transition-colors"
            >
              <!-- Image -->
              <figure
                class="relative overflow-hidden aspect-square w-full bg-tertiary-50 flex items-center justify-center"
              >
                <img
                  src="./src/images/furniture/11.png"
                  alt="card image"
                  class="transition-transform duration-300 scale-90 group-hover:scale-105"
                />
              </figure>
              <!-- Body-->
              <div class="p-6 text-center transition-colors">
                <header class="mb-4">
                  <h3
                    class="text-xl font-bold text-tertiary-950 group-hover:text-primary-500"
                  >
                    Cantilever chair
                  </h3>
                </header>
                <p class="text-blue-950">
                  $21.00
                  <em class="not-italic text-sm text-emphasis-500 underline"
                    >$42.00</em
                  >
                </p>
              </div>
            </article>
            <!-- End E-commerce card -->
          </li>
          <li class="px-2">
            <!-- Component: E-commerce card -->
            <article
              class="group overflow-hidden bg-white p-3 rounded-lg shadow-[0px_0px_16px_0px_rgba(0,0,0,0.05)] text-slate-500 transition-colors"
            >
              <!-- Image -->
              <figure
                class="relative overflow-hidden aspect-square w-full bg-tertiary-50 flex items-center justify-center"
              >
                <img
                  src="./src/images/furniture/8.png"
                  alt="card image"
                  class="transition-transform duration-300 scale-90 group-hover:scale-105"
                />
              </figure>
              <!-- Body-->
              <div class="p-6 text-center transition-colors">
                <header class="mb-4">
                  <h3
                    class="text-xl font-bold text-tertiary-950 group-hover:text-primary-500"
                  >
                    Cantilever chair
                  </h3>
                </header>
                <p class="text-blue-950">
                  $21.00
                  <em class="not-italic text-sm text-emphasis-500 underline"
                    >$42.00</em
                  >
                </p>
              </div>
            </article>
            <!-- End E-commerce card -->
          </li>
        </ul>
      </div>
      <!-- Indicators -->
      <div
        class="flex md:hidden items-center justify-center w-full gap-2 mt-8"
        data-glide-el="controls[nav]"
      >
        <button class="group" data-glide-dir="=0" aria-label="goto slide 1">
          <span
            class="block h-1 w-4 transition-colors duration-300 rounded-full opacity-70 bg-primary-200 focus:outline-none"
          ></span>
        </button>
        <button class="group" data-glide-dir="=1" aria-label="goto slide 2">
          <span
            class="block h-1 w-4 transition-colors duration-300 rounded-full opacity-70 bg-primary-200 focus:outline-none"
          ></span>
        </button>
        <button class="group" data-glide-dir="=2" aria-label="goto slide 3">
          <span
            class="block h-1 w-4 transition-colors duration-300 rounded-full opacity-70 bg-primary-200 focus:outline-none"
          ></span>
        </button>
        <button class="group" data-glide-dir="=3" aria-label="goto slide 4">
          <span
            class="block h-1 w-4 transition-colors duration-300 rounded-full opacity-70 bg-primary-200 focus:outline-none"
          ></span>
        </button>
      </div>
    </div>
    <!-- End carousel -->
  </div>
</section>
<!-- END - trending Products -->
