---
//layout imports
import BaseLayout from "@/layouts/BaseLayout.astro";
const { title } = Astro.props;

//components imports
import Partners from "@/components/blocks/Partners.astro";

//sidebar imports
import BlogLayoutSidebar from "./BlogLayoutSidebar.astro";
---

<BaseLayout title={title}>
  <slot name="pageHeader" />
  <section class="container--default">
    <div class="grid grid-cols-4 gap-4 md:grid-cols-8 md:gap-6 lg:grid-cols-12">
      <div class="col-span-4 md:col-span-8 space-y-12 order-2 lg:order-1">
        <slot />
      </div>
      <div class="col-span-4 order-1 lg:order-2">
        <!-- <slot name="sidebar" /> -->
        <BlogLayoutSidebar />
      </div>
    </div>
  </section>
  <Partners />
</BaseLayout>
